    body {
        background-color: aliceblue;
    }
    
    h1 {
        color: rgb(14, 14, 106);
        font-style: oblique;
        font-size: 35px;
        padding: 50px;
        text-align: center;
    }
    
    h2 {
        font-family: cursive;
        font-size: xx-large;
    }
    
    h4 {
        font-family: cursive;
    }
    
    .container1 {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 50px;
    }
    
    .frndsImg {
        margin-left: 100px;
        width: 700px;
        height: 400px;
    }
    
    p {
        text-align: center;
        font-family: cursive;
        font-size: 21px;
        color: rgb(228, 38, 168);
        margin-left: 100px;
        margin-right: 200px;
        margin-top: 100px;
    }
    
    .container2 {
        /* grid-template-columns: auto auto;
    column-gap: 50px; */
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        height: auto;
    }
    
    .places {
        /* margin-left: 250px; */
        font-family: cursive;
        color: rgb(#d900fff3);
        font-size: 18px;
    }
    
    .food {
        font-family: cursive;
        color: rgb(#d900fff3);
        font-size: 18px;
    }
    
    .flexItems {
        margin: 10px;
        padding: 10px;
        /* border: aliceblue; */
    }
    
    img {
        height: 100px;
        width: 200px;
    }
    
    .foodImg {
        height: 150px;
        width: 200px;
    }
    
    a {
        /* text-align: center; */
        font-family: cursive;
        font-size: 18px;
        color: rgb(228, 38, 168);
        /* color: rgb(#d900fff3); */
    }
    
    .container3 {
        display: grid;
        background-color: white;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /* border: 3px rgb(240, 258, 280); */
        row-gap: 10px;
        column-gap: 10px;
    }
    
    .gridItems {
        margin: 10px;
        padding: 10px;
        background-color: lavender;
    }
    
    li {
        font-family: cursive;
        color: rgb(228, 38, 168);
        font-size: 18px;
    }
    /* table {
        border-collapse: collapse;
        border: 1px solid;
        border-spacing: 50px;
        margin-left: 100px;
        margin-top: 100px;
        color: rgb(19, 98, 22);
        font-family: cursive;
        width: 85%;
    }
    
    thead {
        border: 1px solid;
    }
    
    td {
        padding: 10px;
        text-align: center;
    } */